---
import Default from "~/layout/default.astro";
import Carousel from "~/components/home/carousel.astro";
import Testimonial from "~/components/home/Testimonial.astro";
import "~/style.css"
---

<Default>
    <div class="bg-orange-400 rounded-lg py-5">
        <div class="border-8 bg-yellow-300 rounded-full border-slate-300 flex flex-col p-5">
            <div id="intro" class="flex flex-col items-center mx-auto p-5">
                <h3 class="font-semibold pb-5 underline text-lg">INTRODUCTION</h3>
                <p>In today’s world, every second adds up to innovation or a new wave of technological change. From the first light bulb or telephone to this day, where we have AI assistants, in our phones scheduling our meeting and call logs, we have come a great long way of scientific discovery. Our homes are equipped with smart tools and kits, who know just when to change our room lighting to our increasing dependence on cyberspace. This wave of technological innovation reiterates the importance of the faculty of Emerging Technologies. As a faculty, we aim to create scientific curiosity in the brilliant young minds of this country, who will make use of these emerging technologies to create more unique innovations.

                    Our association with tech-giant like IBM, TCS, and Cyber Dojo is believed to act as leverage of industry collaboration to students, where they can exploit this linkage to get real-life market opportunities from the degree courses.  </p>
            </div>
            <div id="fet" class="flex flex-col items-center mx-auto p-5">
                <h3 class="font-semibold pb-5 mt-5 underline text-lg">FET@SSU</h3>

                <p>The courses offered under FET imparts a strong foundation in new age technological and scientific concepts through theoretical and practical opportunities. The course programs not only build knowledge-based skills or hard skills in the various areas of new-age science like AI, machine learning, cyberspace security, Digital Forensic & Incident Response, etc. but also polishes a wide domain of soft skills like communication, negotiation, ethical skills, leadership skills among others to make the students open to global opportunities for career growth. 

                    As per National Education Policy 2020, the courses under the Faculty of Emerging Technologies follow Innovative teaching-learning activities like-Modular Based Teaching, Video-Based Teaching, e-learning, Webinars, Quiz Competitions, etc. 
                    
                    Additionally, the courses have the flexibility of multiple entries and exit options. If a student completes 3 years of the UG Programme and wants to exit, then he would be entitled to B. Sc. Degree as per the specialization mentioned above. Also, the seats for the UG Programmes include seats for 5 years Integrated Programme. The faculty follows a syllabus pattern as per the global standard & strictly as guidelines by the National Education Policy.
                    
                    In the case of an integrated program, the student may opt to undergo a final year in global ranking universities for a Master’s Degree. All the above-mentioned programs are industry integrated programs in association with Leading MNCs or groups of Companies having more focus on practical inputs with hands-on training as per NEP, 2020.
                    
                    Additionally, counseling is provided to help students overcome their academic/personal issues. Remedial classes are conducted to uplift the progress of the students and regular sessions and assignments help evaluate the progress of the students. We provide students the opportunity to develop their soft skills by organizing seminars and workshops. Meditation and breathing practices help students to understand their minds, concentrate better and deal with stress. An E-notice facility is issued for students and we acknowledge feedback from parents/students on teaching and evaluation strategies etc.</p>
            </div>
            <div id="collab" class="flex flex-col items-center mx-auto p-5">
                <h3 class="font-semibold pb-5 mt-6 underline text-lg">COLLABORATIONS</h3>
                <img src="https://srisriuniversity.edu.in/wp-content/uploads/2022/06/FET-Collaboration.jpg" alt="" class="rounded-lg">
            </div>
            <div id="le" class="flex flex-col items-center mx-auto p-5">
                <h3 class="font-semibold pb-5 mt-5 underline text-lg">BTECH L.E.</h3>

                <p><div id="fet" class="flex flex-col items-center mx-auto p-5">
                    <h3 class="font-semibold pb-5 mt-5 underline text-lg">FET@SSU</h3>
    
                    <p>The courses offered under FET imparts a strong foundation in new age technological and scientific concepts through theoretical and practical opportunities. The course programs not only build knowledge-based skills or hard skills in the various areas of new-age science like AI, machine learning, cyberspace security, Digital Forensic & Incident Response, etc. but also polishes a wide domain of soft skills like communication, negotiation, ethical skills, leadership skills among others to make the students open to global opportunities for career growth. 
    
                        As per National Education Policy 2020, the courses under the Faculty of Emerging Technologies follow Innovative teaching-learning activities like-Modular Based Teaching, Video-Based Teaching, e-learning, Webinars, Quiz Competitions, etc. 
                        
                        Additionally, the courses have the flexibility of multiple entries and exit options. If a student completes 3 years of the UG Programme and wants to exit, then he would be entitled to B. Sc. Degree as per the specialization mentioned above. Also, the seats for the UG Programmes include seats for 5 years Integrated Programme. The faculty follows a syllabus pattern as per the global standard & strictly as guidelines by the National Education Policy.
                        
                        In the case of an integrated program, the student may opt to undergo a final year in global ranking universities for a Master’s Degree. All the above-mentioned programs are industry integrated programs in association with Leading MNCs or groups of Companies having more focus on practical inputs with hands-on training as per NEP, 2020.
                        
                        Additionally, counseling is provided to help students overcome their academic/personal issues. Remedial classes are conducted to uplift the progress of the students and regular sessions and assignments help evaluate the progress of the students. We provide students the opportunity to develop their soft skills by organizing seminars and workshops. Meditation and breathing practices help students to understand their minds, concentrate better and deal with stress. An E-notice facility is issued for students and we acknowledge feedback from parents/students on teaching and evaluation strategies etc.</p>
                </div></p>
            </div>
    </div>  
    </div>
    
</Default>