---
import "~/style.css";
import Logo from "~/components/home/Logo.astro";
import NavItem from "~/components/home/NavItem.astro";
import Content from "~/pages/contents.astro";
import Default from "~/layout/default.astro";
---
<Default>
  <h3 class="flex justify-center p-5 m-5 mb-10 bg-orange-400 w-full font-semibold text-2xl">FACULTIES OF EMERGING TECHNOLOGY</h3>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10">
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="../media/Prof.Dr_.-Rabi-N-Satpathy.jpg" />
            <p class="font-bold">R.N.SATPATHY</p>
            <p class="font-semibold">DEAN</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
        <li class="inline-block h-72 w-48">
          <div class="flex flex-col items-center gap-2">
            <img class="rounded-full border-2 border-orange-500 h-40 w-40" src="#" />
            <p class="font-bold">Name Surname</p>
            <p class="font-semibold">prof</p>
            <button
              class="rounded-full border-2 border-slate-300 px-2 pb-1 hover:bg-orange-600 hover:text-white"
              >know more</button
            >
          </div>
        </li>
      </ul>
</Default>