---
import Default from "~/layout/default.astro";
import Carousel from "~/components/home/carousel.astro";
import Testimonial from "~/components/home/Testimonial.astro";

const courses = [
  {
    label:
      "B.tech Computer Science Specialization in Artificial Intelligence and Machine Learning",
    img: "https://images.unsplash.com/photo-1516110833967-0b5716ca1387?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  },
  {
    label: "B.tech Computer Science Specialization in Data Science",
    img: "https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&w=2665&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  },
  {
    label: "B.tech Computer Science Specialization in Cyber Security",
    img: "https://images.unsplash.com/photo-1620825937374-87fc7d6bddc2?q=80&w=2662&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  },
];
---
<!-- <script>
    const newEl = document.getElementById("new");
    const trigger = document.getElementById("new-link")!;
    trigger.onmouseenter = () => newEl?.classList.add('animate-bounce');
    trigger.onmouseleave = () => newEl?.classList.remove('animate-bounce');
</script> -->

<Default>
  <div class="mt-4 w-full pointer-events-none sm:px-6 sm:pb-5 lg:px-8 flex">
    <div id="new" class="bg-green-500 sm:rounded-l-xl  text-green-50 flex items-center px-4">New</div>
    <div class="pointer-events-auto flex items-center justify-between gap-x-6 grow bg-green-100 px-4 py-1.5 sm:rounded-r-xl sm:py-2 sm:pl-3.5 sm:pr-4">  
      <p class="text-sm leading-6 text-green-900">
        <a id="new-link" href="#">
          <strong class="font-semibold">Admission Open</strong>
          <svg viewBox="0 0 2 2" class="mx-1 inline h-1 w-1 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
          <span class="font-medium">For batch 2024&nbsp-&nbsp28 &nbsp;</span>
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
      <button type="button" class="-m-3 flex-none p-3 focus-visible:outline-offset-[-4px]">
        <span class="sr-only">Dismiss</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-green-800" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  <main class="flex flex-col gap-y-12 max-w-screen-xl px-4 w-full">
    <div class="grow flex flex-col w-full mt-8">
      <div>
        <Carousel />
      </div>
    </div>
    <section class="p-4">
      <h2 class="mb-8 text-4xl font-semibold text-center">Major Courses</h2>
      <div class="w-full">
        <ul
        class="flex w-full flex-wrap justify-around items-stretch gap-4 sm:flex-nowrap"
        >
        {
          courses.map((course) => (
            <li class="relative">
                <div class="absolute inset-0 z-0 h-full w-full rounded-lg bg-gradient-to-b from-black/20 to-transparent" />
                <div
                  style={{
                    "background-image": `url(${course.img});`,
                  }}
                  class="aspect-square w-full h-full xs:max-w-[256px] sm:max-w-xs sm:aspect-[16/10] rounded-lg bg-cover bg-no-repeat p-4 flex flex-col"
                  >
                  <h2
                  style="text-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);"
                  class="relative z-10 text-xl text-white"
                  >
                  {course.label}
                  </h2>
                  <svg
                  xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="h-6 w-6 text-white absolute right-2 top-2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                    />
                    </svg>
                    </div>
                    </li>
                    ))
                  }
        </ul>
      </div>
    </section>
  </main>
  <Testimonial>
    
  </Testimonial>
</Default>