---
import { Picture } from "astro:assets";
import logo from "~/assets/logo.png";
---

<div class="flex gap-x-1 sm:gap-x-4 shrink-0">
  <Picture
    class="w-20 sm:w-24 lg:w-[108px] shrink-0 object-cover object-top"
    widths={[80, 96, 108, logo.width]}
    sizes={`(max-width: 640px) 240px, (max-width: 720px) 540px, (max-width: 1024px) 720px, ${logo.width}px`}
    formats={["webp", "avif"]}
    src={logo}
    alt="SSU Logo"
  />
  {
    !Astro.props.sm && (
      <div class="flex flex-col justify-evenly self-stretch">
        <h1 class="font-serif uppercase text-3xl sm:text-4xl lg:text-6xl text-orange-800">
          Sri Sri University
        </h1>
        <h2 class="lg:ml-1 w-max rounded-md bg-[#C0A657] px-0.5 sm:px-1 lg:px-2 text-sm sm:text-base lg:text-2xl text-white">
          Faculty of Emerging Technology
        </h2>
      </div>
    )
  }
</div>
