---

---

<li>
  <a
    href={Astro.props.path ?? "#"}
    class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-[#7CE2FE] hover:text-layer-13"
  >
    {Astro.props.label}
  </a>
</li>
