@tailwind base;
@tailwind components;
@tailwind utilities;

/* // bg-layer-1,  */
@layer base {
  /* Light Theme */
  :root {
    --gray-0: 0deg 0% 100%; /* Pure */
    --gray-1: 0deg 0% 99%; /* App background */
    --gray-2: 0deg 0% 98%; /* Subtle background */
    --gray-3: 0deg 0% 94%; /* UI element background */
    --gray-4: 0deg 0% 91%; /* Hovered UI element background */
    --gray-5: 0deg 0% 88%; /* Active / Selected UI element background */
    --gray-6: 0deg 0% 85%; /* Subtle borders and separators */
    --gray-7: 0deg 0% 81%; /* UI element border and focus rings */
    --gray-8: 0deg 0% 73%; /* Hovered UI element border */
    --gray-9: 0deg 0% 55%; /* Solid backgrounds */
    --gray-10: 0deg 0% 51%; /* Hovered solid backgrounds */
    --gray-11: 0deg 0% 39%; /* Low-contrast text */
    --gray-12: 0deg 0% 13%; /* High-contrast text */
    --gray-13: 0deg 0% 1%; /* Inverted */

    /* Light Theme Blue Shades */
    --blue-0: 210deg 100% 100%;
    --blue-1: 210deg 100% 99%;
    --blue-2: 207deg 100% 98%;
    --blue-3: 205deg 92% 95%;
    --blue-4: 203deg 100% 92%;
    --blue-5: 206deg 100% 88%;
    --blue-6: 207deg 93% 83%;
    --blue-7: 207deg 85% 76%;
    --blue-8: 206deg 82% 65%;
    --blue-9: 206deg 100% 50%;
    --blue-10: 207deg 96% 48%;
    --blue-11: 208deg 88% 43%;
    --blue-12: 216deg 71% 23%;
    --blue-13: 216deg 68% 17%;
  }

  *,
  :after,
  :before {
    border-width: 1px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
