---
import "~/style.css";
import Logo from "~/components/home/Logo.astro";
import NavItem from "~/components/home/NavItem.astro";
import SlideOver from "~/components/ui/slide-overs.vue";

const navItems = [
  {
    label: "Home",
    path: "/",
  },
  {
    label: "About Us",
    path: "/about",
  },
  {
    label: "Courses",
    path: "/courses",
  },
  [
    {
      label: "Updates",
      path: "/updates",
    },
    {
      label: "Contact Us",
      path: "/contact-us",
    },
  ],
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Of Emerging Technologies</title>
  </head>
  <body class="bg-white min-h-screen w-full flex flex-col items-center">
    <header class="max-w-screen-xl w-full flex items-center justify-between p-2 sm:p-3 md:p-3.5 lg:p-4">
      <Logo />
      <nav class="">
        <SlideOver client:media="(max-width: 640px)" navItems={navItems.flat()} />
        <ul class="hidden sm:flex justify-center sm:justify-end sm:gap-1 md:gap-2 flex-wrap">
          <!-- component -->
          <!-- This is an example component -->
          <div class="max-w-lg mx-auto">
            <button class="flex items-center sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13" type="button" data-dropdown-toggle="dropdown1">Home</button>
            <!-- Dropdown menu -->
          </div>
          <div class="max-w-lg mx-auto">
            <button class="flex items-center gap-3 sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13" type="button" data-dropdown-toggle="dropdown2">About Us<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></button>
            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="dropdown2">
              
              <ul class="py-1" aria-labelledby="dropdown2">
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="max-w-lg mx-auto">
            <button class="flex items-center gap-3 sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13" type="button" data-dropdown-toggle="dropdown3">Courses<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></button>
            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="dropdown3">
              
              <ul class="py-1" aria-labelledby="dropdown3">
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="max-w-lg mx-auto">
            <button class="flex items-center gap-3 sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13" type="button" data-dropdown-toggle="dropdown4">Updates<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></button>
            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="dropdown4">
              
              <ul class="py-1" aria-labelledby="dropdown4">
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="max-w-lg mx-auto">
            <button class="flex items-center gap-3 sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-xl py-2 font-medium border rounded-full border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13" type="button" data-dropdown-toggle="dropdown5">Contact Us<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></button>
            <!-- Dropdown menu -->
            <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="dropdown5">
              <ul class="py-1" aria-labelledby="dropdown5">
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block sm:px-3 sm:py-1 md:px-4 whitespace-nowrap sm:text-base md:text-md py-2 font-medium border-layer-4 text-layer-12 hover:border-layer-6 hover:bg-orange-400 hover:text-layer-13 rounded-full">Dashboard</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="bg-orange-400">
      <div
        class="flex flex-col sm:flex-row justify-evenly items-center gap-7 p-3 flex-wrap"
      >
        <div class="flex flex-col items-center gap-y-2">
          <Logo sm />
          <h2
            class="text-white uppercase font-medium text-xs xs:text-sm sm:text-base"
          >
            Sri Sri University
          </h2>
        </div>
        <ul class="flex flex-col text-center gap-1.5">
          <li><a class="text-lg"> OUR FACULTIES :-</a></li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Agriculture</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Architecture</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Arts, Communication and Indic Studies</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Contemplative and Behavioural Sciences</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Emerging Technologies</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Health and Wellness</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Management Studies</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Sciences</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Faculty of Applied Life Sciences</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Research & Development Cell</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> Sri Sri College of Ayurvedic Science and Research Hospital</a
            >
          </li>
          <li>
            <a
              href="/faculties/"
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >SEE ALL ></a
            >
          </li>
        </ul>
        <ul class="flex flex-col text-center gap-0.5">
          <li><a class="text-lg">QUICK LINKS :-</a></li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> UGC Compliance</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> UGC 12-B Status</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> AIU Membership Letter</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> NIRF 2023</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> NIRF 2022</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> AICTE Approval</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> ICAR Accreditation</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> IGBC Membership</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> RTI Disclosure</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> ARI IA 2022-23</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-white font-semibold"
              >> IIA Certificate</a
            >
          </li>
        </ul>
      </div>
      <div
        class="text-lg flex flex-col items-center gap-2 my-5 sm:flex-row sm:justify-center"
      >
        <h4>CONTACT US AT:</h4>
        <a href="#" class="text-white font-semibold"
          >fet@srisriuniversity.edu.in</a
        >
      </div>
  
      <div class="w-screen bg-slate-800 h-0.5"></div>
      <!-- Quick fix for layout overflow, please handle it! remove flex-wrap class -->
      <!-- Hint: Change font-size spacing -->
      <div
        class="flex flex-col gap-2 justify-evenly items-center p-3 sm:p-5 sm:flex-row flex-wrap"
      >
        <h3 class="text-white px-3">Designed By- FET STUDENTS</h3>
        <!-- <ul class="flex gap-4">
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
        </ul> -->
        <div class="flex justify-between items-center w-full sm:w-max flex-wrap gap-3">
          <h3
            class="text-slate-200 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
          © 2023 Sri Sri University |
          </h3>
          <h3
            class="text-slate-200 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            <a href="">Disclaimer |</a>
          </h3>
          <h3
            class="text-slate-200 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            <a href="">Privacy Policy |</a>
          </h3>
          <h3
            class="text-slate-200 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            <a href="">Site Map |</a>
          </h3>
          <h3
            class="text-slate-200 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            <a href="">Terms of Use |</a>
          </h3>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
</html>
