---
import "~/style.css";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
const navItems = [
  {
    label: "Home",
    path: "/",
  },
  {
    label: "About us",
    path: "/about",
  },
  {
    // quick mistakes are always better, take addmission and forget forever ever, do your actions
    label: "Get Addmission",
    path: "/get-addmission",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwindcss Installation</title>
  </head>
  <body class="bg-layer-0 min-h-screen w-full flex flex-col">
    <header
      class="flex flex-col sm:flex-row items-start justify-between p-2 sm:p-3.5 md:p-4"
    >
      <div class="flex gap-x-1 sm:gap-x-2">
        <Image
          class="h-20 w-20 sm:h-24 sm:w-24 md:h-[108px] md:w-[108px] shrink-0 object-cover object-top"
          src={logo}
          alt="SSU Logo"
        />
        <div class="flex flex-col justify-evenly self-stretch">
          <h2
            class="font-serif text-3xl sm:text-4xl md:text-6xl text-orange-600"
          >
            Sri Sri University
          </h2>
          <h4
            class="md:ml-1 w-max rounded-md bg-orange-500 px-0.5 sm:px-1 md:px-2 text-sm sm:text-base md:text-2xl text-white"
          >
            Faculty of Emerging Technology
          </h4>
        </div>
      </div>
      <nav class="">
        <ul>
          {navItems.map((navItem) => <a href="#"> {navItem.label} </a>)}
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="bg-orange-400 mt-auto">
      <div
        class="flex-col sm:flex-row flex justify-evenly items-center gap-7 p-3"
      >
        <div class="flex flex-col items-center">
          <img
            class="h-[108px] w-[108px] shrink-0 object-cover object-top"
            src="https://ssuconf1.vercel.app/SSULogo.png"
            alt="Sri Sri University Logo"
          />
          <h3 class="text-black">SRI SRI UNIVERSITY</h3>
        </div>
        <ul class="flex flex-col text-center gap-0.5">
          <li><a class="text-lg">FACULTIES :-</a></li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >SUDHIR SIR</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >R.N.SATPATHI</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >ABCD</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >ABCD</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >SEE ALL-></a
            >
          </li>
        </ul>
        <ul class="flex flex-col text-center gap-0.5">
          <li><a class="text-lg">CATEGORIES :-</a></li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >LINKS</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >EVENTS</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >GALLERY</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >CURRICULUM</a
            >
          </li>
          <li>
            <a
              class="px-3 hover:bg-orange-600 hover:rounded-full hover:text-white text-slate-700 font-semibold"
              >COLLABORATIONS</a
            >
          </li>
        </ul>
      </div>
      <div
        class="flex flex-col items-center gap-2 my-5 sm:flex-row sm:justify-center"
      >
        <h3>CONTACT US AT:</h3>
        <a href="">fet@srisriuniversity.edu.in</a>
      </div>

      <div class="w-screen bg-black h-0.5"></div>
      <div
        class="flex flex-col gap-2 justify-evenly items-center p-3 sm:p-5 sm:flex-row"
      >
        <h3 class="text-white px-3">Designed By- FET STUDENTS</h3>
        <ul class="flex gap-4">
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
          <li class="w-12 h-12 rounded-full bg-white/20"></li>
        </ul>
        <div
          class="flex justify-between gap-x-4 sm:flex-row items-center w-full sm:w-max"
        >
          <h3
            class="text-white px-3 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            TERMS AND CONDITION
          </h3>
          <h3
            class="text-white px-3 whitespace-nowrap text-sm sm:text-base hover:bg-orange-600 hover:rounded-full hover:text-white"
          >
            PRIVACY POLICY
          </h3>
        </div>
      </div>
    </footer>
  </body>
</html>
