---
import "~/style.css";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwindcss Installation</title>
  </head>
  <body class="bg-layer-0 min-h-screen w-full">
    <header class="flex items-center justify-between p-2 xs:p-3.5 sm:p-4">
      <div class="flex gap-x-1 xs:gap-x-2">
        <Image
          class="h-20 w-20 xs:h-24 xs:w-24 sm:h-[108px] sm:w-[108px] shrink-0 object-cover object-top"
          src={logo}
          alt="SSU Logo"
        />
        <img src="https://srisriuniversity.edu.in/" alt="" />
        <div class="flex flex-col justify-evenly self-stretch">
          <h2
            class="font-serif text-3xl xs:text-4xl sm:text-6xl text-orange-600"
          >
            Sri Sri University
          </h2>
          <h4
            class="sm:ml-1 w-max rounded-md bg-orange-500 px-0.5 xs:px-1 sm:px-2 text-sm xs:text-base sm:text-2xl text-white"
          >
            Faculty of Emerging Technology
          </h4>
        </div>
      </div>
    </header>

    <slot />
    <footer></footer>
  </body>
</html>
